name: CI

on: [pull_request]
env:
  DEVELOPER_DIR: /Applications/Xcode_13.0.app/Contents/Developer
  FLUTTER_VERSION: 3.0.2
  JAVA_VERSION: "12.x"
  JAVA_DISTRIBUTION: 'zulu'

jobs:
  ci:
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v2
        with:
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          java-version: ${{ env.JAVA_VERSION }}
      - uses: subosito/flutter-action@d8687e6979e8ef66d2b2970e2c92c1d8e801d7bf
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}
      - name: Build documentation
        run: bash ./scripts/docs.sh -g
      - name: Analyze
        run: bash ./scripts/run_ci_tasks.sh -z

  ci-android:
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v2
        with:
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          java-version: ${{ env.JAVA_VERSION }}
      - uses: subosito/flutter-action@d8687e6979e8ef66d2b2970e2c92c1d8e801d7bf
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}
      - name: Build Android
        run: bash ./scripts/run_ci_tasks.sh -a
  ci-ios:
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v2
        with:
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          java-version: ${{ env.JAVA_VERSION }}
      - uses: subosito/flutter-action@d8687e6979e8ef66d2b2970e2c92c1d8e801d7bf
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}
      - name: Build iOS
        run: bash ./scripts/run_ci_tasks.sh -i
